/**/
    #data {     
        font-size: 1em;
        margin : 0px;
        color: #000000;
    }
    #map {
        position : absolute;
        top : 280px; 
        left : 20px;
    	width:320px;
    	height:320px; 
    }
    #coordinatesTable {
      font-size: 0.5em;
    }
    